@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

:root {
  --dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: rgb(48, 101, 248);
  --moderate-cyan: hsl(170, 45%, 43%);
  --grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--dark-blue);
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
button,
.header_nav {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  padding: 2rem;
}

.flex {
  display: flex;
  align-items: center;
}

.header_nav {
  justify-content: space-between;
}

.header_logo img {
  width: 100px;
}

.header_nav ul li {
  padding: 0.5rem;
}

.header_nav ul li a {
  color: var(--dark-blue);
}

.header_content {
  text-align: center;
  width: 95%;
  margin: 5rem auto;
}

.img_content img {
  margin: 3rem 0;
}

h1 {
  font-size: clamp(1.7rem, 2vw, 2.2rem);
}

.header_content .text_content p {
  margin: 1.5rem 0;
}

input,
button {
  width: 90%;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border-radius: 4px;
  border: none;
}

input {
  border: 1px solid var(--dark-blue);
  color: var(--light-gray);
}

.btn_get {
  background-color: var(--bright-blue);
  color: #fff;
  font-weight: 700;
}

/* ------------------------------ main content ------------------------------ */
.section-1 {
  background-color: var(--grayish-blue);
  text-align: center;
}

.section-1 .text_content h2,
h3 {
  font-size: clamp(1.2rem, 2vw, 2rem);
}

.section-1 .text_content h2 {
  margin: 1rem;
}

.section-1 .text_content p {
  color: var(--desaturated-blue);
  margin: 1rem 0;
  text-align: left;
}

.see-how {
  display: inline-block;
  border-bottom: 1px solid var(--moderate-cyan);
}

.see-how .flex p {
  margin: 0 0.5rem 0 0;
  color: var(--moderate-cyan);
}

.testimonial {
  background-color: #fff;
  margin: 3rem 0;
  padding: 2rem;
  border-radius: 5px;
  text-align: left;
}

.testimonial p {
  font-size: 0.85rem;
  color: var(--dark-blue);
}

.testimonial_info img {
  width: 30px;
  margin-right: 1rem;
  border-radius: 50%;
}

.name {
  font-size: 0.8rem;
  font-weight: 700;
}

.title {
  font-size: 0.5rem;
}

.section-2 {
  background-color: var(--desaturated-blue);
  color: #fff;
  text-align: center;
}

.section-2 input {
  border: none;
}

.section-2 .container {
  padding: 3rem 3.5rem 4rem;
}

.section-2 p {
  margin: 1rem 0;
}

footer {
  background-color: var(--dark-blue);
}

footer,
.footer_nav li a {
  color: #fff;
}

.footer_nav li a:hover {
  color: var(--bright-blue);
}

.footer_logo img,
.social img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(5984%)
    hue-rotate(133deg) brightness(123%) contrast(109%);
}

.footer_logo img {
  margin: 3rem 0;
}

.contact img {
  margin-right: 1rem;
}

.contact > div,
.footer_nav li {
  margin: 1rem 0;
}

.footer_nav {
  flex-direction: column;
  align-items: flex-start;
}

.footer_nav ul {
  margin: 1rem 0;
}

.social ul {
  justify-content: center;
}

.social img {
  margin: 0.5rem;
}

.social img:hover {
  filter: brightness(0) saturate(100%) invert(32%) sepia(59%) saturate(3733%)
    hue-rotate(217deg) brightness(98%) contrast(98%);
}
/* ------------------------------ End main content ------------------------------ */

/* ------------------------------- media query ------------------------------ */
@media only screen and (min-width: 680px) {
  .container-lg {
    max-width: 1440px;
    margin: 0 auto;
  }

  .container {
    padding: 4rem;
  }

  .header_nav {
    padding: 0 2rem;
  }

  .header_logo img {
    width: 150px;
  }

  .header_nav ul li {
    padding: 0 2rem;
  }

  .grid {
    display: grid;
  }

  .header_content,
  .section-1,
  .section-2 {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .img_content {
    order: 2;
  }

  .text_content,
  .section-2 > div {
    text-align: left;
    max-width: 90%;
  }

  form {
    grid-template-columns: 2fr 1fr;
    text-align: left;
  }

  .section-1 .text_content h2 {
    margin-left: 0;
  }

  .text_content p {
    max-width: 90%;
  }

  .testimonial {
    max-width: 60%;
    padding-right: 1rem;
  }

  .section-2 > div {
    max-width: 72%;
  }

  .section-2 form .btn_get {
    max-width: 40%;
  }

  .footer_logo img {
    margin-bottom: 1rem;
  }

  .footer_section {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer_nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_nav ul {
    margin: 0;
  }
}

/* ------------------------------- End media query ------------------------------ */
